.title-column{
    padding:120px;
    background: #FFEF00;
    border: 4px solid black;
}
body{
    background-image: url(https://ak.picdn.net/shutterstock/videos/1024918607/thumb/1.jpg);
    background-size:cover;
}
.display-4{
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size:130px;
    font-weight:bold;
}
.about-header-1st{
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size:40px;
    padding:50px;
}
.about-header-2nd{
    text-align:center;
    font-family: 'Crafty Girls', cursive;
    font-size:40px;
}
.lib-jab-label{
    text-decoration:overline;
    position:relative;
    top: 41px;
    font-size:30px;
}
.questionaire{
    padding:50px;
    background: #F5F5F5;
    border: 4px solid black;
}
.questionaire-header{
    text-align: center;
    font-family: 'Unkempt', cursive;
    font-size: 85px;
}
.container{
    max-width: 1100px;
}
.lib-jab-logo{
    background:#FFEF00;
    margin: 0px 300px;
    height:200px;
    width:200px;
    padding-top:55px;
}
.user-form{
    position:relative;
    left: 330px;
}
.input-label{
    font-family: 'Baskervville', serif;
    font-size: 22px;
    font-weight: bold;
}
#input-type{
    font-family: 'Baskervville', serif;
    display: block;
}
#generate-story{
    position:relative;
    top:10px;
    left:420px;
    background:#ff8c00;
    font-family:'Unkempt', cursive;
    font-size: 35px;
}
#redo-story{
    position:relative;
    top:10px;
    left:330px;
    background:#ff8c00;
    font-family:'Unkempt', cursive;
    font-size: 35px;
}
.story-header{
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size:70px;
    font-weight:bold;
}
#story{
    padding:50px;
    background: #F5F5F5;
    border: 4px solid black;
}
.first-part{
    text-indent:2em;
    font-size: 18px;
}
.second-part{
    text-indent:2em;
    font-size: 18px;
}
.third-part{
    text-indent:2em;
    font-size: 18px;
}
#ad-lib{
    font-weight:bold;
    font-family: 'Crafty Girls', cursive;
    text-decoration:underline;
    color:red;
    font-size: 30px;
}
footer{
    background:#FFEF00;
    font-family:'Crafty Girls', cursive;
    font-size: 40px;
    text-align: center;
    font-weight:bold;
}
@media only screen and (max-width: 600px) {
    .container{
        width:1100px;
    } 
  }
@media only screen and (min-width: 600px) {
    .container{
        width:1100px;
    }
}
@media only screen and (min-width: 768px) {
    .container{
        width:1100px;
    }
}
@media only screen and (min-width: 992px) {
    .container{
        width:1100px;
    }
}
@media only screen and (min-width: 1200px) {
    .container{
        width:1100px;
    }
}